:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: left;
}

body{
    background-image:url("fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
header, footer{
    background-color: rgb(54, 21, 80);
    padding: 1em;
    border: 1px solid;
    align-items: center;
    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
}
header h2 img{
   margin: auto;
   text-align: center;
}
header nav{
    background-color: tomato;
    padding: 1em;
    margin-bottom: 1.5em;
    text-align: center;
    border: 1px solid black;
    flex-basis: 100%;
}
header nav a{
    color: white;
    padding: 1em;
    text-transform: uppercase;
   
    justify-content: space-around;
}
header nav a:hover{
    background-color: goldenrod;
    
}
section{
    background-color: white;
    border: 1px solid ;
    padding: .5em;
    flex: 100%;
    margin-bottom: 1.5em;

    font-size: 15px;
}
section h1{
    text-align: center;
    padding-bottom: 3em;
}
section h2{
    margin-left: 50px;
}
section h4{
    margin-left: 75px;
}
section p{
   margin-left: 125px;
}
section h4 img{
        width: 10%;
}
section h5{
    margin-left: 1000px;
}
section button{
    width: 10%;
}
section button:hover{
    background-color: rgb(201, 188, 188);
}
section button img{
    width: 100%;
}
footer {
    padding: 1.5em 0;
    bottom: 0;
    text-decoration:solid;
    justify-content: center;
    flex: 100%
}

footer img{
    
    width: 10%;
}

footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    background-color: orange;
    color:white;
    padding: 0.5em;
}