
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

/* ------------| General|------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: left;
}

body{
    background-image:url("img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.container{
    margin: auto;
    max-width: 1200px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    
}

/* ------------| header|------------- */

header, footer,section,.title-div{
    background-color: #240543;
    padding: 1em;
    border: 1px solid;
    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
}
header{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .IMG{
    padding-bottom: 20px;
    
}
header nav{
    background-color: #b49acf ;
    padding: 1em;
    text-align: center;
    border: 1px solid black;
    border-radius: 100px;
    flex-basis: 100%;
}
header nav a{
    color: white;
    padding: 1em;
    text-transform: uppercase;
   
    justify-content: space-around;
}
header nav a:hover{
    background-color: #4e56b6 ;
    
}
/* ------------| Section|------------- */

section {
    background-color: #adb2f1 ;
    margin: 10px 0 10px 0;
}
.body-container{
   display: flex;
   justify-content: center;
   
} 
.title-div{
    background-color: #090f57 ;
    color:beige;
    border-color: black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}
.title-div h1{
    text-align: center;
}
.img-iconos{
    font-size: 14px;
}
.img-iconos img{
    width: 8%;
}
section .img-iconos,h5{
    text-align: right;
}
section h2{
    margin-left: 50px;
}
section h4{
    margin-left: 75px;
}
section p{
   margin-left: 125px;
}
section h4 img{
        width: 40%;
        border-radius: 20%;
}