
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var'; }
}
/* -------------- Principal Styles --------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: justify;
}

body{
    background-image:url("img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    margin: auto;
    max-width: 1200px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    
}

header, footer{
    background-color: #240543;
    padding: 1em;
    border: 1px solid;
    align-items: center;
    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
}
/* -------------- Header --------------------*/

header{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 10%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
header .IMG{
    padding-bottom: 20px;
    
}
header nav{
    background-color: #b49acf ;
    padding: 1em;
    text-align: center;
    border: 1px solid black;
    border-radius: 100px;
    flex-basis: 100%;
}
header nav a{
    color: white;
    padding: 1em;
    text-transform: uppercase;
   
    justify-content: space-around;
}
header nav a:hover{
    background-color: #4e56b6 ;

}
/* -------------- Section --------------------*/
section{
    background-color: #a1e2e5 ;
    border: 1px solid ;
    border-radius: 10px;
    
    padding: 2em;
    flex: 100%;
    margin-bottom: 1.5em;
}
section p, section hr, section h1{
    margin-bottom: 1em;
}
.img-iconos img{
    width: 8%;
}
section .img-iconos{
    text-align: right;
}
/* -------------- aside --------------------*/
aside{
    background-color: #141b72 ;
    flex: 100%;
    margin-bottom: 3em;
    color: white ;
    border-radius: 10px;
}
aside p,aside h3{
    background-color: #425def ;
    margin: 1em;
    padding: 1em;
}
aside h3{
    color:#b4e895 ;
    font-weight: bold;

}
/* -------------- Footer --------------------*/
footer {
    padding: 1.5em 0;
    bottom: 0;
    text-decoration:solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
footer .Lewis {
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}
footer .so{
    margin-left: 50px;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    border-radius: 5%;
    background-color: orange;
    color:white;
    padding: 0.5em;
}
/* -------------- smartphone changes --------------------*/
@media (max-width: 760px){
    .container{
        flex-direction: column;
    }
    header{
        margin: 0;
        padding: 0;

        justify-content: center;
    }
    header nav{
        flex-basis: 100%;
    }
    h2{
        padding: 1.5em 0;
    }
}